<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->
    <div th:if="${searchResults}">
        <h3 th:text="${searchResults.size()+' Result(s)'}"></h3>
        <table th:each="searchResult : ${searchResults}">
            <col width="200" />
            <col width="500" />
            <tr th:each="field, idx : ${searchResult}" th:class="${idx.odd} ? 'odd'">
                <th th:text="${#strings.capitalizeWords(field.key)}"></th>
                <div th:switch="${field.key}" th:fragment="hyperlink">
                    <td th:case="'name'" th:text="${field.value}"></td>
                    <td th:case="*">
                        <a th:text="${field.value}" th:href="@{/list/jobs(column=${field.key},value=${field.value})}"></a>
                    </td>
                </div>
            </tr>
            <br/>
        </table>

    </div>


</div>

</body>
</html>